body {
  background: #ffffff;
}

.information-container {
  background-color: #ffffff;
  padding-bottom: 20px;
  padding-top: 40px;
  text-align: center;
}

.information-container h1 {
  color: #222222;
  font-size: 40px;
  font-weight: 300;
  padding-bottom: 20px;
  text-transform: uppercase;
  padding:10px;
}

.information-container p {
  color: #222222;
  font-size: 17px;
  font-weight: 300;
  padding: 10px;
}

.information-container h2 {
  background: #33a1ff;
  border-radius: 50%;
  color: #ffffff;
  font-size: 125px;
  height: 200px;
  margin: 0 auto;
  padding: 10px;
  transition: all 1s ease;
  width: 200px;

}

.information-container .fa {
  padding-top: 25px;
}