body {
  font-family: 'Lato', sans-serif;
}

.navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation nav { 
  background-color: #303030;
  box-shadow: 0px 0px 20px #000000;
  opacity: 0.70;
  padding-top: 10px;
  text-align: center; 
  filter: alpha(opacity=70);
}

.navigation ul { 
  list-style: none; 
}

.navigation ul li {
  display: inline; 
  font-size: 20px;
  padding: 100px;
  text-transform: uppercase;
  transition: all 1s ease;
}

@media screen and (max-width: 900px) {
  .navigation ul li {
    display: inline; 
    font-size: 20px;
    padding: 30px;
    text-transform: uppercase;
    transition: all 1s ease;
  }
}

@media screen and (max-width: 500px) {
  .navigation ul li {
    display: inline; 
    font-size: 18px;
    padding: 3px;
    text-transform: uppercase;
    transition: all 1s ease;
  }

  .navigation ul li  a:hover{
    font-size: 20px;
    transition: all 1s ease;
    text-decoration: none;
  }
}

.navigation ul li a {
  color: #ffffff;
  font-width: 300;
  transition: all 1s ease;
}

@media screen and (min-width: 500px) {
  .navigation ul li  a:hover{
    font-size: 22px;
    transition: all 1s ease;
    text-decoration: none;
  }
}

.navigation ul li  a:visited{
  font-size: 23px;
  transition: all 1s ease;
  text-decoration: none;
}

.logo-container {
  background: url("../../Assets/Images/Background.jpg")  no-repeat center center fixed;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  transition: all 1s ease;
  text-align: center;
}

.logo-container img {
  margin: auto;
  padding-top: 145px;
  padding-bottom: 145px;
  width: 350px;
  transition: all 1s ease;
}

@media screen and (max-width: 550px) {
  .logo-container img {
    margin: auto;
    padding-top: 100px;
    padding-bottom: 75px;
    transition: all 1s ease;
    width: 300px;
  }
}

.social-icons-container {
  background-image: url("../../Assets/Images/Social.jpg");
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.social-icons-container a {
  text-decoration: none;
}

.social-icons-container a:hover {
  text-decoration: none;
}

.social-icons-container  h1 {
  color: #ffffff;
  font-size: 40px;
  font-weight: 300;
  padding: 40px 0 20px 0 ;
  text-transform: uppercase;
}

.social-icons-container  p{
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  max-width: 700px;
  margin: 0 auto;
  padding: 10px;
  padding-bottom:20px;
  transition: all 1s ease;
}

.social-icons-container .container p {
  font-size: 70px;
  transition: all 0.5s ease;
}


.social-icons-container .row  .fa-youtube-play {
  border-color: #ffffff;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;
  padding: 15px;
  transition: all 1s ease;
}

.social-icons-container .row  .fa-youtube-play:hover {
  background: #e52d27;
  border-color: #e52d27;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;
  padding: 15px;
  transition: all 0.8s ease;
}

.social-icons-container .row  .fa-twitter {
  border-color: #ffffff;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;
  padding: 15px;
  transition: all 1s ease;
}

.social-icons-container .row  .fa-twitter:hover {
  background: #4099FF;
  border-color: #4099FF;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;
  padding: 15px;
  transition: all 0.8s ease;
  
}

.social-icons-container .row  .fa-google-plus {
  border-color: #ffffff;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;
  padding: 15px;
  transition: all 1s ease;
}

.social-icons-container .row  .fa-google-plus:hover {
  background: #D84B37;
  border-color: #D84B37;
  border-radius: 10%;
  border-style: solid;
  border-width: 2px;
  padding: 15px;
  transition: all 0.8s ease;
  
}


.button {
  background-color: #e74c3c;
  border-color: #e74c3c;
  border-radius: 20px;
  border-style: solid;
  border-width: 3px;
  color: #ffffff;
  font-size: 30px;
  font-weight: 300;
  padding: 20px;
  text-transform: uppercase; 
}

.button:hover {
  background-color: #e74c3c;
  border-color: #e74c3c;
  transition: all 1s ease;
}
