.links {
padding-top:20px;
padding-bottom:20px;
background-color: #ffffff;
text-align: center;
}

.links h1 {
color: #000000;
font-family: 'Lato', sans-serif;
font-weight: 300;
font-size: 34px;
padding-bottom:20px;
text-transform: uppercase;
}

.links p {
color: #000000;
font-family: 'Lato', sans-serif;
font-weight: 300;
font-size: 18px;
}

.links img  {
padding:20px;
height: 200px;
transition: all 1s ease;
}

.links img:hover  {
padding:20px;
height: 210px;
transition: all 1s ease;
}

@media screen and (max-width: 600px) {
  .links img  {
    height: 175px;
    transition: all 1s ease;
  }

  .links img:hover  {
  padding:20px;
  height: 190px;
  transition: all 1s ease;
  }
}