body {
  background-color: #ffffff;
}

.graphics-container {
  background-color: #ffffff ;
  padding-bottom: 50px;
  padding-top: 10px;
  text-align: center;
}

.graphics-container h1 {
  color: #000000;
  font-size: 40px;
  font-weight: 300;
  padding:40px 0 ;
  text-transform: uppercase;
}

.graphics-container p { 
  color: #000000;
  font-size: 17px;
  font-weight: 300;
  padding: 10px 0 40px;
}

.web-development-container {
  background-color: #f1f1f1;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.web-development-container h1 {
  color: #000000;
  font-size: 40px;
  font-weight: 300;
  padding: 40px 0 20px;
  text-transform: uppercase;
}

.web-development-container p {
  color: #000000;
  font-size: 17px;
  font-weight: 300;
  padding: 10px 0 40px;
}

.videos{
  background-color: #e6e6e6;
  padding-top: 20px;
  padding-bottom: 50px;
  text-align: center;
}

.videos h1 {
  color: #000000;
  font-size: 40px;
  font-weight: 300;
  padding:40px 10px 20px 10px;
  text-transform: uppercase;
}

.videos  p{
  color: #000000;
  font-size: 17px;
  font-weight: 300;
  padding: 10px 0 40px;
}