body {
  background-color: #ffffff;
}

.graphics-container {
  background-color: #ffffff ;
  padding-bottom:50px;
  padding-top: 10px;
  text-align: center;
}

.graphics-container h1 {
  padding-bottom:20px;
  color: #000000;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  padding:10px;
  padding-top:40px;
  font-weight: 300;
  font-size: 40px;
}

.graphics-container p { 
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-size:17px;
  padding:10px;
  font-weight: 300;
  padding-bottom:40px;
}

.web-development-container {
  padding-top:20px;
  padding-bottom:50px;
  background-color: #f1f1f1;
  text-align: center;
}

.web-development-container h1 {
  padding-top:10px;
  padding-bottom:20px;
  color: #000000;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  padding:10px;
  padding-top:40px;
  font-weight: 300;
  font-size: 40px;
}

.web-development-container p{
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-size:17px;
  padding:10px;
  font-weight: 300;
  padding-bottom:20px;
  padding-bottom:40px;
}

.videos{
  padding-top:20px;
  padding-bottom:50px;
  background-color: #e6e6e6;
  text-align: center;
}

.videos h1 {
  padding-top:10px;
  padding-bottom:20px;
  color: #000000;
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
  padding:10px;
  padding-top:40px;
  font-weight: 300;
  font-size: 40px;
}

.videos  p{
  font-family: 'Lato', sans-serif;
  color: #000000;
  font-size:17px;
  padding:10px;
  font-weight: 300;
  padding-bottom:20px;
  padding-bottom:40px;
}




